body {
    background-image: url("asfalt-dark.png");
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

thead, tbody {
    text-align: center;
}

th {
    padding: 10px;
}

.muted {
    color: lightgrey;
}

#wholeYear {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

#wholeYear table {
    margin: 20px;
}

select {
    padding: 2px;
}

